#contact {
    position: absolute;
    margin-left: 34%;
    margin-top: 17%;
}

.fa-google{
    transition: 0.3s;
}
.fa-google:hover{
  color:rgb(151, 5, 5);
  font-size: 20px;
  cursor: pointer;
}
.fa-linkedin{
  transition: 0.3s;
}
.fa-linkedin:hover{
color:rgb(38, 142, 240);
font-size: 20px;
cursor: pointer;
}
.fa-facebook{
  transition: 0.3s;
}
.fa-facebook:hover{
color:rgb(53, 50, 255);
font-size: 20px;
cursor: pointer;
}
.fa-github{
  transition: 0.3s;
}
.fa-github:hover{
font-size: 20px;
cursor: pointer;
}

#name{
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }


  #icons{
    margin-left: 8%;
  }


  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  #img{
      width: 100%;
      margin-top: 20%;
      border: currentColor;
  }

.fa{
  color: ghostwhite;
}

#nit{
  color: rgba(146, 147, 150, 0.356);
}
  
@media only screen and (max-width: 550px){
    #contact {
        position: absolute;
        margin-left: 2%;
        margin-top: 35%;
    }
    #name{
      margin-left: 12%;
    }
    .title{
      margin-left: 20%;
    }
    #nit{
      margin-left: 30%;
    }
    #icons{
      margin-left: 29%;
    }
}
